services:
  - type: web
    name: mrt-tech-test
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: OPENROUTER_API_KEY
        sync: false
      - key: GOOGLE_API_KEY
        sync: false
      - key: GOOGLE_CSE_ID
        sync: false
      - key: OPENROUTER_SITE_URL
        value: https://myrealtrip.com
      - key: OPENROUTER_APP_NAME
        value: MRT Tech Test Generator

